In [1]:
# Import pandas package into python file using import statement
import pandas as pd

To begin, you need to download the pandas package for use. Python has a built-in package installer, pip.
You can run the following commands in the terminal:

pip install pandas

Next, ensure that the data file metformin_data.csv is located in the same directory as this script on your computer.

In [2]:
# Load data into pandas dataframe

df = pd.read_csv("all_experiments.csv")

In [3]:
# Printing out the imported dataframe
print(df)

           ID        Name             Type Bac Strain       Lab  Start Date  \
0    50000820   DS_082420  manual_lifespan     OP50-1  Driscoll  2020-08-24
1    50000840   PS_092520  manual_lifespan     OP50-1  Phillips  2020-09-25
2    50000920   LS_100920  manual_lifespan     OP50-1   Lithgow  2020-10-09
3    50000940   DS_100520  manual_lifespan     OP50-1  Driscoll  2020-10-05
4    50001000   LS_101620  manual_lifespan     OP50-1   Lithgow  2020-10-16
..        ...         ...              ...        ...       ...         ...
208  60000360  LAS_121721     alm_lifespan     OP50-1   Lithgow  2021-12-17
209  60000380  LAS_082022     alm_lifespan     OP50-1   Lithgow  2022-08-20
210  60000400  PAS_101022     alm_lifespan     OP50-1  Phillips  2022-10-10
211  60000420  PAS_102822     alm_lifespan     OP50-1  Phillips  2022-10-28
212  60000440  PAS_110422     alm_lifespan     OP50-1  Phillips  2022-11-04

     Active  Metadata Complete  Experiment Complete  Experiment Validated
0         0                  1                    0                     0
1         0                  1                    0                     0
2         0                  1                    1                     0
3         0                  1                    1                     0
4         0                  1                    1                     0
..      ...                ...                  ...                   ...
208       0                  1                    1                     1
209       0                  1                    1                     1
210       0                  1                    1                     1
211       0                  1                    1                     1
212       0                  1                    1                     1

[213 rows x 10 columns]

In [4]:
# Sorting the data by column
sorted_experimenter = df.sort_values(by = "Lab")
print(sorted_experimenter)

           ID            Name             Type Bac Strain       Lab  \
0    50000820       DS_082420  manual_lifespan     OP50-1  Driscoll
107  50003600       DS_032122  manual_lifespan     OP50-1  Driscoll
104  50003500       DS_021422  manual_lifespan     OP50-1  Driscoll
103  50003460       DS_011022  manual_lifespan     OP50-1  Driscoll
102  50003440       DS_110121  manual_lifespan     OP50-1  Driscoll
..        ...             ...              ...        ...       ...
83   50002980    PC_102921_DR  manual_lifespan     OP50-1  Phillips
84   50003000  PS_112621_SULF  manual_lifespan     OP50-1  Phillips
85   50003020  PS_112621_ATRA  manual_lifespan     OP50-1  Phillips
88   50003080       PS_012822  manual_lifespan     OP50-1  Phillips
212  60000440      PAS_110422     alm_lifespan     OP50-1  Phillips

     Start Date  Active  Metadata Complete  Experiment Complete  \
0    2020-08-24       0                  1                    0
107  2022-03-21       0                  1                    0
104  2022-02-14       0                  1                    0
103  2022-01-10       0                  1                    0
102  2021-11-01       0                  1                    0
..          ...     ...                ...                  ...
83   2021-10-29       0                  1                    0
84   2021-11-26       0                  1                    1
85   2021-11-26       0                  1                    0
88   2022-01-28       0                  1                    1
212  2022-11-04       0                  1                    1

     Experiment Validated
0                       0
107                     0
104                     0
103                     0
102                     0
..                    ...
83                      0
84                      1
85                      0
88                      1
212                     1

[213 rows x 10 columns]

In [5]:
df_col_drop = df.drop(columns="ID")
print(df)

           ID        Name             Type Bac Strain       Lab  Start Date  \
0    50000820   DS_082420  manual_lifespan     OP50-1  Driscoll  2020-08-24
1    50000840   PS_092520  manual_lifespan     OP50-1  Phillips  2020-09-25
2    50000920   LS_100920  manual_lifespan     OP50-1   Lithgow  2020-10-09
3    50000940   DS_100520  manual_lifespan     OP50-1  Driscoll  2020-10-05
4    50001000   LS_101620  manual_lifespan     OP50-1   Lithgow  2020-10-16
..        ...         ...              ...        ...       ...         ...
208  60000360  LAS_121721     alm_lifespan     OP50-1   Lithgow  2021-12-17
209  60000380  LAS_082022     alm_lifespan     OP50-1   Lithgow  2022-08-20
210  60000400  PAS_101022     alm_lifespan     OP50-1  Phillips  2022-10-10
211  60000420  PAS_102822     alm_lifespan     OP50-1  Phillips  2022-10-28
212  60000440  PAS_110422     alm_lifespan     OP50-1  Phillips  2022-11-04

     Active  Metadata Complete  Experiment Complete  Experiment Validated
0         0                  1                    0                     0
1         0                  1                    0                     0
2         0                  1                    1                     0
3         0                  1                    1                     0
4         0                  1                    1                     0
..      ...                ...                  ...                   ...
208       0                  1                    1                     1
209       0                  1                    1                     1
210       0                  1                    1                     1
211       0                  1                    1                     1
212       0                  1                    1                     1

[213 rows x 10 columns]